.s-equipment {
    width: 100%;

}

.equipment-list textarea, button{
    width: 100%;
    overflow: hidden;
}

.coins {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.coins ul {
    padding: 0;
}